[ req ]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
# Add the DN fields, such as country, organization, etc.
countryName = US
stateOrProvinceName = California
localityName = San Francisco
organizationName = My Company
commonName =  keycloak

[ v3_req ]
# SANs go here
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = keycloak
DNS.2 = www.example.com
DNS.3 = api.example.com
IP.1 = 10.211.55.22
