services:
  node:
    image: node:20.19.6-alpine
    container_name: node-app
    working_dir: /app
    volumes:
      - ./app.js:/app/app.js
    command: sh -c "node app.js"
    networks:
      - nodejs-net
    ports:
      - "8080:8080"


networks:
  nodejs-net:
