services:
  server:
    image: alpine:latest
    container_name: udp-server
    hostname: udp-server
    working_dir: /app
    volumes:
      - ./app:/app
    command: sh -c "apk add --no-cache gcc musl-dev && gcc udp-server.c -o udp-server && ./udp-server"
    ports:
      - "5005:5005/udp"

  client:
    image: alpine:latest
    container_name: udp-client
    hostname: udp-client
    working_dir: /app
    volumes:
      - ./app:/app
    command: sh -c "apk add --no-cache gcc musl-dev && gcc udp-client.c -o udp-client && ./udp-client"
    depends_on:
      - server
