services:
  node:
    image: node:20.19.6-alpine
    container_name: node-app
    working_dir: /app
    volumes:
      - ./app.js:/app/app.js
    command: sh -c "node app.js"
    networks:
      - nodejs-net
    ports:
      - "8080:8080"

  ubuntu:
    image: ubuntu:22.04
    container_name: ubuntu-wrk
    tty: true
    stdin_open: true
    networks:
      - nodejs-net
    command: >
      bash -c "
      apt update &&
      apt install -y wrk curl &&
      echo 'wrk installed' &&
      sleep infinity
      "
  k6:
    image: grafana/k6
    volumes:
      - ./test.js:/app/test.js
    working_dir: /app
    command: run test.js
    networks:
      - nodejs-net
    depends_on:
      - node

networks:
  nodejs-net:
