[ req ]
default_bits        = 2048
default_keyfile     = server.key
default_md          = sha256
prompt              = no
encrypt_key         = no
distinguished_name  = dn
req_extensions      = req_ext

[ dn ]
C  = US
ST = State
L  = Locality
O  = Organization
OU = Organizational Unit
CN = example.com

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = example.com
DNS.2 = www.example.com
DNS.3 = api.example.com
IP.1  = 10.211.55.9
