[
    {rabbit, [
        {auth_backends, [
		rabbit_auth_backend_ldap,
		rabbit_auth_backend_internal
	]}
        ]},


{rabbitmq_management,[


    {ssl_config, [
        {cacertfile, "/tmp/ca.crt"},
        {certfile,   "/tmp/rabbitmq1.crt"},
        {keyfile,    "/tmp/rabbitmq1.key"},
	{verify, verify_none},
	{fail_if_no_peer_cert, false},
        {port,     15671}


    ]}
    ]},


    {rabbitmq_auth_backend_ldap, [
        {servers, ["openldap"]},
        {dn_lookup_attribute, "uid"},
        {dn_lookup_base,      "ou=users,dc=example,dc=com"},
        {dn_lookup_bind,      {"cn=admin,dc=example,dc=com", "password"}},
        {use_ssl, true},
 	{ssl_options, [
            {cacertfile, "/tmp/ca.crt"},
            {verify, verify_peer},
            {fail_if_no_peer_cert, false}
        ]},
        {port, 1636},
	{log, network_unsafe},
        {resource_access_query, {in_group, "cn=readers,ou=users,dc=example,dc=com"}},
        {vhost_access_query, {in_group, "cn=readers,ou=users,dc=example,dc=com"}},
        {tag_queries, [
		{administrator, {in_group, "cn=readers,ou=users,dc=example,dc=com"}},
		{management, {constant, true}}
        ]}
    ]}

].
