services:
  r1:
    image: frrouting/frr:latest
    container_name: r1
    hostname: r1
    privileged: true
    volumes:
      - ./frr/r1/frr.conf:/etc/frr/frr.conf
      - ./frr/r1/daemons:/etc/frr/daemons
    networks:
      net12:
        ipv4_address: 10.0.12.1
      net13:
        ipv4_address: 10.0.13.1

  r2:
    image: frrouting/frr:latest
    container_name: r2
    hostname: r2
    privileged: true
    volumes:
      - ./frr/r2/frr.conf:/etc/frr/frr.conf
      - ./frr/r2/daemons:/etc/frr/daemons
    networks:
      net12:
        ipv4_address: 10.0.12.2
      net23:
        ipv4_address: 10.0.23.2

  r3:
    image: frrouting/frr:latest
    container_name: r3
    hostname: r3
    privileged: true
    volumes:
      - ./frr/r3/frr.conf:/etc/frr/frr.conf
      - ./frr/r3/daemons:/etc/frr/daemons
    networks:
      net13:
        ipv4_address: 10.0.13.3
      net23:
        ipv4_address: 10.0.23.3

networks:
  net12:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.12.0/24
  net13:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.13.0/24
  net23:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.23.0/24

