services:
  server:
    image: alpine
    container_name: server
    hostname: server
    volumes:
      - ./app:/app
    working_dir: /app
    # command: sh -c "apk add --no-cache gcc musl-dev && gcc server.c -o server && ./server"
    command: >
      sh -c "apk add --no-cache gcc musl-dev && 
             gcc server.c -o server && 
             ./server"
    ports:
      - "8080:8080"

  client:
    image: alpine
    container_name: client
    hostname: client
    depends_on:
      - server
    volumes:
      - ./app:/app
    working_dir: /app
    # command: sh -c "apk add --no-cache gcc musl-dev && sleep 5 && gcc client.c -o client && ./client"
    command: >
      sh -c "apk add --no-cache gcc musl-dev && 
             gcc client.c -o client && 
             ./client"
