services:

  busybox:
    image: busybox:latest
    container_name: busybox-test
    hostname: busybox-test
    user: root                   # run as superuser
    stdin_open: true             # keep stdin open
    tty: true                    # allocate a pseudo-TTY
    command: sh                 # launch an interactive shell
    networks:
      - rabbitmq-net


networks:
  rabbitmq-net:
    driver: bridge
