[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
x509_extensions    = v3_ca

[ req_distinguished_name ]
C  = YourCountry
ST = YourState
L  = YourCity
O  = YourOrganization
OU = YourUnit
CN = Intermediate CA

[ v3_ca ]
basicConstraints = CA:TRUE, pathlen:0
