global
    maxconn 2048

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http_front
    bind *:8080
    default_backend http_back

backend http_back
    balance roundrobin
    server web1 web1:8000 check
    server web2 web2:8000 check

